:root {
  --system-font: "Pretendard Variable", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --red-900: #5c0101;
  --red-800: #820101;
  --red-700: #a00303;
  --red-600: #c20404;
  --red-500: #dc0a0a;
  --red-400: #f20e0e;
  --red-300: #f63846;
  --red-200: #ff6873;
  --red-100: #ffbbc0;
  --red-50: #ffe5e7;
  --ns-red: var(--red-500);
  --ns-coral-200: var(--red-300);
  --ns-coral-100: #fc5460;
  --black: #000;
  --gray-900: #111;
  --gray-800: #3f3f3f;
  --gray-700: #585858;
  --gray-600: #757575;
  --gray-500: #9e9e9e;
  --gray-400: #b1b1b1;
  --gray-300: #ddd;
  --gray-200: #ececec;
  --gray-100: #f6f6f6;
  --gray-50: #f8f8f8;
  --white: #fff;
  --ns-error: #fa3307;
  --ns-info: #2a81fd;
  --ns-success: #41aa0f;
  --ns-warning: #f7b42a;
  --ns-ssing: #0c8cef;
  --ns-happy-deal: #db6f00;
}
